#body-carteira{
    width: 100%;
}

#heade{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    width: 100%;

}
#corpo-gastos{
    background-color: aqua;
    border-radius: 25px;
    width: 200px;
    text-align: center;
    margin-left: 5vh;
    
}
#btn-add{
    border: none;
    cursor: pointer;
    width: 120px;
    border-radius: 100px;
    background-color: aqua;
    margin-right: 5vh;
}