#body-carteira{
    width: 100%;
    background-color: rgb(28, 28, 30);
}
#heade{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
}
#grid-modal{
    margin-left: 3rem;
}
#modal-carteira{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: rgb(226, 225, 225);
    border: '2px solid #000';
    box-shadow: 24;
    color: rgb(53, 52, 52);
}
#value{
    border-color: white !important;
}
#titulo-modal{
    margin-left: 2rem;
}
#second-column{
    margin-top: 2rem;
}
#corpo-gastos{
    background-color: #A7FFEB;
    border-radius: 20px;
    width: 200px;
    text-align: start;
    margin-left: 5vh;
    display: flex;
    justify-content: start;
}
#icone-gastos{
    margin-top: 15px;
    margin-left: 10px;
}
#btn-add{
    cursor: pointer;
    margin-bottom: 15px;
    margin-right: 10vh;
}
#selects{
    color: rgb(14, 13, 13);
}
#table_div {
    margin-top: 1rem;
    width: 100%;   
}
#corpo-table{
    width: 90%;
    margin-left: 3rem;
}
#footer-modal{
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}
#btn-modal{
    color: rgb(18, 104, 22) !important;
}
